.navbar {
  height: 50px;
}
.navbar-brand img {
  height: 50px;
}
.dropdown-toggle img {
  height: 30px;
}

h3 {
  margin-top: 1.5rem;
}
.container-fluid {
  padding-inline: 0;
}
footer {
  margin-top: 6rem;
}
.footer-text {
  font-size: 13px;
}

.copyright {
  font-size: 10px;
}

.container-lg .row {
  margin-top: 1rem;
}

.service {
  font-size: 13px;
}
