.navbar-brand img {
  height: 50px;
}
nav {
  background: linear-gradient(0deg, rgba(36, 35, 38, 0.7783905798647583) 0%, rgba(0, 0, 0, 0.6047211120776436) 94%);
}
.container {
  max-width: 600px;
}
.profilePic {
  position: relative;
  width: 130px;
  height: 130px;
}
.profilePic .bi-pen {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.8rem;
  margin-left: 0.8rem;
}
p {
  margin-bottom: 0;
}
